### Διαβάζουμε το dataset

In [10]:
import pandas as pd

df = pd.read_excel('../datasets/housing_data_gr.xlsx')

In [11]:
len(df)

20000

In [12]:
df.head(2)

,location_name,location_region,res_date,res_type,res_address,res_price,res_price_sqr,res_sqr,construction_year,levels,...,energyclass,auto_heating,solar,cooling,safe_door,gas,fireplace,furniture,student,parking
0,Παλαιό Φάληρο,Αττική,2021-06-18,Διαμέρισμα,"Παλαιό Φάληρο,Γήπεδα",89000,1618.0,55.0,1973.0,Υπερυψωμένο,...,Δ,1,0,1,1,0,0,0,0,NaN
1,Αχαρνές,Αττική,2022-03-30,Μεζονέτα,"Αχαρνές,Λαθέα",150000,1531.0,98.0,2010.0,4ος,...,Γ,0,0,0,0,0,1,0,0,Κλειστό parking

In [13]:
x=(df["location_name"] == "Πειραιάς").sum()
x

np.int64(1000)

## Θα ασχοληθούμε μόνο με Πειραιά

In [14]:
new_df=df[df["location_name"]== "Πειραιάς"]

In [15]:
len(new_df)

1000

### Προφανώς δεν θέλουμε Location region,location name

In [16]:
new_df = new_df.drop(columns=["location_region", "location_name"])
new_df.head(70)

,res_date,res_type,res_address,res_price,res_price_sqr,res_sqr,construction_year,levels,bedrooms,bathrooms,...,energyclass,auto_heating,solar,cooling,safe_door,gas,fireplace,furniture,student,parking
21,2019-08-08,Κτίριο,"Πειραιάς,Καστέλα (Προφήτης Ηλίας)",360000,1324.0,272.0,1976.0,Ισόγειο,6.0,3.0,...,NaN,0,0,0,0,0,0,0,0,NaN
36,2019-11-14,Διαμέρισμα,"Πειραιάς,Κέντρο",176000,2000.0,88.0,1965.0,2ος,2.0,1.0,...,Η,0,0,0,0,1,0,0,0,NaN
77,2022-01-19,Κτίριο,"Πειραιάς,Ταμπούρια",300000,857.0,350.0,1967.0,"Ισόγειο,1ος,2ος,3ος",NaN,NaN,...,Η,0,0,0,0,0,0,0,0,NaN
135,2022-04-12,Διαμέρισμα,"Πειραιάς,Νέο Φάληρο",213325,2667.0,80.0,2022.0,2ος,2.0,1.0,...,Α+,0,1,1,1,0,0,0,0,NaN
148,2022-04-19,Διαμέρισμα,"Πειραιάς,Φρεαττύδα",630000,4500.0,140.0,1975.0,4ος,2.0,1.0,...,Ε,0,1,0,1,0,0,1,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1341,2021-09-10,Διαμέρισμα,"Πειραιάς,Νέο Φάληρο",300000,4762.0,63.0,NaN,6ος,1.0,1.0,...,Α+,1,1,1,1,0,0,1,0,NaN
1342,2022-04-02,Διαμέρισμα,"Πειραιάς,Φρεαττύδα",165000,1602.0,103.0,1994.0,4ος,2.0,1.0,...,Δ,1,0,0,1,0,0,0,0,NaN
1343,2022-03-09,Διαμέρισμα,"Πειραιάς,Καμίνια",145000,1179.0,123.0,1996.0,2ος,3.0,1.0,...,Ζ,0,1,1,1,0,0,0,0,NaN
1420,2022-03-17,Διαμέρισμα,"Πειραιάς,Νέο Φάληρο",170000,2237.0,76.0,2000.0,2ος,2.0,1.0,...,Ε,1,0,0,1,0,0,0,0,NaN
1428,2021-06-25,Διαμέρισμα,"Πειραιάς,Καμίνια",100000,1667.0,60.0,1970.0,1ος,1.0,1.0,...,Εκρεμμεί,0,0,0,1,0,0,0,0,NaN

### Για πόσα μέρη του Πειραιά έχουμε πληροφορίες??

In [17]:
new_df["res_address"].describe()

count                 1000
unique                  47
top       Πειραιάς,Καμίνια
freq                   103
Name: res_address, dtype: object

47 όχι και άσχημα(Τι φάση γτ υπάρχουν καν 47...)

In [18]:
list(new_df["res_address"].unique())

['Πειραιάς,Καστέλα (Προφήτης Ηλίας)',
 'Πειραιάς,Κέντρο',
 'Πειραιάς,Ταμπούρια',
 'Πειραιάς,Νέο Φάληρο',
 'Πειραιάς,Φρεαττύδα',
 'Πειραιάς,Χατζηκυριάκειο',
 'Πειραιάς,Καμίνια',
 'Πειραιάς,Ευαγγελίστρια',
 'Πειραιάς,ΟΣΕ',
 'Πειραιάς,Κοκκινιά',
 'Πειραιάς,Καλλίπολη',
 'Πειραιάς,Μανιάτικα',
 'Άγιος Ιωάννης Ρέντης,Κέντρο',
 'Πειραιάς,Τερψιθέα',
 'Πειραιάς,Πασαλιμάνι (Μαρίνα Ζέας)',
 'Πειραιάς,Αγία Σοφία',
 'Νίκαια,Μητρόπολη',
 'Κερατσίνι,Ευγένεια',
 'Πειραιάς,Κεντρικός Λιμένας',
 'Δραπετσώνα,Ταμπάκικα',
 'Πειραιάς,Βρυώνη',
 'Δραπετσώνα,Άγιος Παντελεήμων',
 'Κερατσίνι,Λιμάνι',
 'Δραπετσώνα,Άγιος Διονύσιος',
 'Μοσχάτο',
 'Πειραιάς,Πλατεία Ιπποδαμείας',
 'Πειραιάς,Πειραϊκή',
 'Κερατσίνι,Ταμπούρια',
 'Κερατσίνι,Άγιος Παντελεήμονας',
 'Κερατσίνι,Ανάσταση',
 'Δραπετσώνα,Νέος Οικισμός',
 'Κερατσίνι,Πάρκο',
 'Πειραιάς,Υδραίικα',
 'Νίκαια,Κέντρο',
 'Δραπετσώνα',
 'Πειραιάς,Άγιος Βασίλειος',
 'Pireas,Τερψιθέα',
 'Πειραιάς,Μικρολίμανο',
 'Πειραιάς,Ζωοδόχος Πηγή',
 'Pireas,Βρυώνη',
 'Κερατσίνι',
 'Νίκαια,Κοκκινιά',
 'Ταμπάκικα',
 'Άγιος Ιωάννης Ρέντης,Αμαξοστάσιο ΟΣΕ',
 'Κερατσίνι,Αμφιάλη',
 'Δραπετσώνα,Λιπάσματα',
 'Κερατσίνι,Άγιος Γεώργιος']

### οκ πήραμε και κάποιες γειτονικές περιοχές το οποίο δεν είναι απραίτητα κακό έχουμε ήδη λίγα δεδομένα(1000)

### Όπου έχει null στο parking θα το θεωρήσουμε false

In [19]:
new_df['parking'] = new_df['parking'].notna()
new_df['parking'] = new_df['parking'].astype(int)

In [20]:
new_df.head(1)

,res_date,res_type,res_address,res_price,res_price_sqr,res_sqr,construction_year,levels,bedrooms,bathrooms,...,energyclass,auto_heating,solar,cooling,safe_door,gas,fireplace,furniture,student,parking
21,2019-08-08,Κτίριο,"Πειραιάς,Καστέλα (Προφήτης Ηλίας)",360000,1324.0,272.0,1976.0,Ισόγειο,6.0,3.0,...,NaN,0,0,0,0,0,0,0,0,0

apo edo kai kato kenourgia

In [21]:
new_df['rent_month'] = (new_df['res_price'] * 0.05) / 12
new_df=new_df.drop(columns=["res_price", "res_price_sqr"])
new_df.head(3)

,res_date,res_type,res_address,res_sqr,construction_year,levels,bedrooms,bathrooms,deleted,deleted_at,...,auto_heating,solar,cooling,safe_door,gas,fireplace,furniture,student,parking,rent_month
21,2019-08-08,Κτίριο,"Πειραιάς,Καστέλα (Προφήτης Ηλίας)",272.0,1976.0,Ισόγειο,6.0,3.0,1,2022-05-17 00:00:00,...,0,0,0,0,0,0,0,0,0,1500.000000
36,2019-11-14,Διαμέρισμα,"Πειραιάς,Κέντρο",88.0,1965.0,2ος,2.0,1.0,1,2022-06-10 00:00:00,...,0,0,0,0,1,0,0,0,0,733.333333
77,2022-01-19,Κτίριο,"Πειραιάς,Ταμπούρια",350.0,1967.0,"Ισόγειο,1ος,2ος,3ος",NaN,NaN,1,2022-06-10 00:00:00,...,0,0,0,0,0,0,0,0,0,1250.000000

In [22]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

In [23]:
def remove_outliers_iqr(data, columns):
    for col in columns:
        Q1 = data[col].quantile(0.25)
        Q3 = data[col].quantile(0.75)
        IQR = Q3 - Q1
        lower = Q1 - 1.5 * IQR
        upper = Q3 + 1.5 * IQR
        data = data[(data[col] >= lower) & (data[col] <= upper)]
    return data

In [24]:
new_df=remove_outliers_iqr(new_df, ['rent_month'])

In [25]:
len(new_df)

933

In [26]:
#Ανάλυση correlation και covariance
cor_matrix = new_df.corr(numeric_only=True)
low_corr_features = cor_matrix.columns[(cor_matrix.abs() < 0.1).all()]
high_corr_pairs = [(i, j) for i in cor_matrix.columns for j in cor_matrix.columns if i != j and abs(cor_matrix.loc[i, j]) > 0.95]

In [27]:
# Αφαίρεση low correlation
new_df = new_df.drop(columns=low_corr_features)
redundant_features = [pair[1] for pair in high_corr_pairs]
new_df = new_df.drop(columns=list(set(redundant_features)))

In [28]:
train_df, test_df = train_test_split(new_df, test_size=0.2, random_state=42)
train_df.shape[0], test_df.shape[0]

(746, 187)

In [29]:
train_df, val_df = train_test_split(train_df, test_size=0.25, random_state=42)

In [30]:
num_features = train_df.select_dtypes(include=[np.number]).columns.tolist()
cat_features = train_df.select_dtypes(include=['object', 'category']).columns.tolist()

numeric_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', StandardScaler())
])

categorical_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('encoder', OneHotEncoder(handle_unknown='ignore'))
])

preprocessor = ColumnTransformer([
    ('num', numeric_pipeline, num_features),
    ('cat', categorical_pipeline, cat_features)
])

# 6. Fit στο train, transform σε val/test
X_train = preprocessor.fit_transform(train_df)
X_val = preprocessor.transform(val_df)
X_test = preprocessor.transform(test_df)