### Διαβάζουμε το dataset

In [1]:
import pandas as pd

df = pd.read_csv('greece_listings.csv')

In [2]:
len(df)

20000

In [3]:
df.head(2)

,location_name,location_region,res_date,res_type,res_address,res_price,res_price_sqr,res_sqr,construction_year,levels,...,energyclass,auto_heating,solar,cooling,safe_door,gas,fireplace,furniture,student,parking
0,Παλαιό Φάληρο,Αττική,2021-06-18,Διαμέρισμα,"Παλαιό Φάληρο,Γήπεδα",89000,1618.0,55.0,1973.0,Υπερυψωμένο,...,Δ,1,0,1,1,0,0,0,0,NaN
1,Αχαρνές,Αττική,2022-03-30,Μεζονέτα,"Αχαρνές,Λαθέα",150000,1531.0,98.0,2010.0,4ος,...,Γ,0,0,0,0,0,1,0,0,Κλειστό parking

In [4]:
x=(df["location_name"] == "Πειραιάς").sum()
x

np.int64(1000)

## Θα ασχοληθούμε μόνο με Πειραιά

In [5]:
new_df=df[df["location_name"]== "Πειραιάς"]

In [6]:
len(new_df)

1000

### Προφανώς δεν θέλουμε Location region,location name

In [7]:
new_df = new_df.drop(columns=["location_region", "location_name"])
new_df.head(1)

,res_date,res_type,res_address,res_price,res_price_sqr,res_sqr,construction_year,levels,bedrooms,bathrooms,...,energyclass,auto_heating,solar,cooling,safe_door,gas,fireplace,furniture,student,parking
21,2019-08-08,Κτίριο,"Πειραιάς,Καστέλα (Προφήτης Ηλίας)",360000,1324.0,272.0,1976.0,Ισόγειο,6.0,3.0,...,NaN,0,0,0,0,0,0,0,0,NaN

### Για πόσα μέρη του Πειραιά έχουμε πληροφορίες??

In [8]:
new_df["res_address"].describe()

count                 1000
unique                  47
top       Πειραιάς,Καμίνια
freq                   103
Name: res_address, dtype: object

47 όχι και άσχημα(Τι φάση γτ υπάρχουν καν 47...)

In [9]:
list(new_df["res_address"].unique())

['Πειραιάς,Καστέλα (Προφήτης Ηλίας)',
 'Πειραιάς,Κέντρο',
 'Πειραιάς,Ταμπούρια',
 'Πειραιάς,Νέο Φάληρο',
 'Πειραιάς,Φρεαττύδα',
 'Πειραιάς,Χατζηκυριάκειο',
 'Πειραιάς,Καμίνια',
 'Πειραιάς,Ευαγγελίστρια',
 'Πειραιάς,ΟΣΕ',
 'Πειραιάς,Κοκκινιά',
 'Πειραιάς,Καλλίπολη',
 'Πειραιάς,Μανιάτικα',
 'Άγιος Ιωάννης Ρέντης,Κέντρο',
 'Πειραιάς,Τερψιθέα',
 'Πειραιάς,Πασαλιμάνι (Μαρίνα Ζέας)',
 'Πειραιάς,Αγία Σοφία',
 'Νίκαια,Μητρόπολη',
 'Κερατσίνι,Ευγένεια',
 'Πειραιάς,Κεντρικός Λιμένας',
 'Δραπετσώνα,Ταμπάκικα',
 'Πειραιάς,Βρυώνη',
 'Δραπετσώνα,Άγιος Παντελεήμων',
 'Κερατσίνι,Λιμάνι',
 'Δραπετσώνα,Άγιος Διονύσιος',
 'Μοσχάτο',
 'Πειραιάς,Πλατεία Ιπποδαμείας',
 'Πειραιάς,Πειραϊκή',
 'Κερατσίνι,Ταμπούρια',
 'Κερατσίνι,Άγιος Παντελεήμονας',
 'Κερατσίνι,Ανάσταση',
 'Δραπετσώνα,Νέος Οικισμός',
 'Κερατσίνι,Πάρκο',
 'Πειραιάς,Υδραίικα',
 'Νίκαια,Κέντρο',
 'Δραπετσώνα',
 'Πειραιάς,Άγιος Βασίλειος',
 'Pireas,Τερψιθέα',
 'Πειραιάς,Μικρολίμανο',
 'Πειραιάς,Ζωοδόχος Πηγή',
 'Pireas,Βρυώνη',
 'Κερατσίνι',
 'Νίκαια,Κοκκινιά',
 'Ταμπάκικα',
 'Άγιος Ιωάννης Ρέντης,Αμαξοστάσιο ΟΣΕ',
 'Κερατσίνι,Αμφιάλη',
 'Δραπετσώνα,Λιπάσματα',
 'Κερατσίνι,Άγιος Γεώργιος']

### οκ πήραμε και κάποιες γειτονικές περιοχές το οποίο δεν είναι απραίτητα κακό έχουμε ήδη λίγα δεδομένα(1000)

### Όπου έχει null στο parking θα το θεωρήσουμε false

In [10]:
new_df['parking'] = new_df['parking'].notna()
new_df['parking'] = new_df['parking'].astype(int)

In [11]:
new_df.head(1)

,res_date,res_type,res_address,res_price,res_price_sqr,res_sqr,construction_year,levels,bedrooms,bathrooms,...,energyclass,auto_heating,solar,cooling,safe_door,gas,fireplace,furniture,student,parking
21,2019-08-08,Κτίριο,"Πειραιάς,Καστέλα (Προφήτης Ηλίας)",360000,1324.0,272.0,1976.0,Ισόγειο,6.0,3.0,...,NaN,0,0,0,0,0,0,0,0,0

### Αυτά θα τα κάνω πιο μετά αλλά είναι μία αρχική ιδέα

In [12]:
level_mapping = { 
    "Υπερυψωμένο": -2,
    "Υπόγειο": -1,
    "Ημιυπόγειο":-0.5,
    "Ισόγειο": 0,
    "Ημιώροφος": 0.5,
    "1ος": 1,
    "2ος": 2,
    "3ος": 3,
    "4ος": 4,
    "5ος": 5,
    "6ος": 6,
    "7ος": 7,
    "8ος": 8
}

ordinal_mapping = {
    'Α+': 10,
    'Α': 9,
    'Β+': 8,
    'Β': 7,
    'Γ': 6,
    'Δ': 5,
    'Ε': 4,
    'Ζ': 3,
    'Η': 2,
    'Μη αποδοτικό': 1,      
    'Εκρεμμεί': 0,          
    'Εξαιρείται': -1       
}

condition_mapping = {
    'Νεόδμητο': 8,            
    'Άριστη': 7,               
    'Ανακαινισμένο': 6,        
    'Καλή': 5,                 
    'Χρήζει ανακαίνισης': 4,  
    'Ημιτελές': 3,             
    'Υπο κατασκευή': 2,    
    'Άλλη κατάσταση': 1, 

}

In [13]:
#Kani lista ta levels gia na enfanizi ola ta diathesima diamerismata 
def map_levels(cell):
    global level_mapping

    if pd.isna(cell):
        return None

    parts = str(cell).split(',')
    levels = []

    for part in parts:
        cleaned = part.strip()

        mapped = level_mapping.get(cleaned)
        if mapped is not None:
            levels.append(mapped)

    return levels if levels else None

In [14]:
new_df['levels'] = new_df['levels'].apply(map_levels)
#new_df['energyclass'] = new_df['energyclass'].apply(ordinal_mapping)

new_df.head(1)

,res_date,res_type,res_address,res_price,res_price_sqr,res_sqr,construction_year,levels,bedrooms,bathrooms,...,energyclass,auto_heating,solar,cooling,safe_door,gas,fireplace,furniture,student,parking
21,2019-08-08,Κτίριο,"Πειραιάς,Καστέλα (Προφήτης Ηλίας)",360000,1324.0,272.0,1976.0,[0],6.0,3.0,...,NaN,0,0,0,0,0,0,0,0,0